.container{
    .product{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 30px;

    
        .category{
            padding-left: 0;
            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: var(--black-color);
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px ;
                    margin: 6px 0;
                    display: block;
                    border-radius: 8px;
                }

                .active{
                    background-color: var(--primary-color);
                    color: var(--white-color);
                }
            }
        }
    }
}